---
layout: page
title: Portfolio
---
<!-- portfolio -->
<!-- {% include git-tistory-section.html %} -->
<!--Content before waves-->

<div style="margin-top: 10px;">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(173, 173, 255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(173, 173, 255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(173, 173, 255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="rgb(173, 173, 255)" />
  </g>
  </svg>
</div>

<article class="portpolio_atc">
  <div class="portpolio_contain">
    <div class="atc_title">PROJECTS</div>
    <div class="portpolio_project_zip">

      <!-- inkwang -->
      <div class="project">
        <div class="prj-title">인광금속 홈페이지</div>
        <div class="prj-date">23.08 - 진행중 <span>(1인 개인)</span></div>
        <div class="prj-div">
          <div class="prj-img">
            <img src="/assets/images/portfolio/inkwang.png" style="width:80%; height:45%; ">
            <img src="/assets/images/portfolio/inkwang2.png" style="width:80%; height:45%; margin-top:30px;" />
          </div>
          <div class="prj-summary">
            <div id="prj-summary-field" style="text-align: left;">
              <p style="font-size:20px; font-family:'Poppins', sans-serif; font-weight: 900;">▎상용화를 목표로하는 인광금속 홈페이지</p>
              <p>부산광역시에 소재한 '인광금속' 회사의 웹사이트를 React.js를 활용하여 개발 중이며, 현재 Spring과 연동하여 이미지 업로드 기능을 구현하고 있습니다.<br/> 이 프로젝트는 완성되면 AWS를 활용하여 배포할 예정이며, 첫 번째 개인 프로젝트이자 상용화를 목표로 하고 있어 매우 의미있는 프로젝트입니다.</p>
              <a class="pbtn btn-outline-fill" href="/2017/05/26/amazon-increase-income-1.5-million-copy-2/">
                see more
                {% for seemore in site.data.settings.seemore %}
                  <i class="{{ seemore.icon }}" style="float: left; font-weight:900; margin-right:5px; margin-top:2px;"></i>
                {% endfor %}
              </a>
            </div>
            <p style="font-size:20px; font-family:'Poppins', sans-serif; font-weight: 900;margin-top:10px;text-align: left;">▎역할 <span style="font-size:20px; font-family:'Poppins', sans-serif; font-weight: 400; font-size:15px;">&nbsp;&nbsp;Frontend & Backend</span> </p>
            <p style="text-align: left; font-size:20px; font-family:'Belanosima', sans-serif; ">▎Tool</p>
            <div id="skill-div" style="height: 40%; width:90%; padding: 0 0 50px 0px;">
              <div class="skill" style="width:90px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/react.png" style="width:80%;"></div>
                <div id="skill_p">React</div>
              </div>
              <div class="skill" style="width:90px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/sass.png"></div>
                <div id="skill_p">SASS</div>
              </div>
              <div class="skill" style="width:90px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/html.png"></div>
                <div id="skill_p">HTML</div>
              </div>
              <div class="skill" style="width:70px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/css.png"></div>
                <div id="skill_p">CSS</div>
              </div>
              <div class="skill" style="width:170px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/kakaomap.png"></div>
                <div id="skill_p">KakaoMap API</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Re-surfy -->
      <div class="project">
        <div class="prj-title">Re-surfy</div>
        <div class="prj-date">23.04 - 23.05 <span>(5인 Team)</span></div>
        <div class="prj-div">
          <div class="prj-img">
            <img src="/assets/images/portfolio/resurfy.png" style="width:80%; height:300px; ">
          </div>
          <div class="prj-summary">
            <div id="prj-summary-field" style="text-align: left;">
              <p style="font-size:20px; font-family:'Poppins', sans-serif; font-weight: 900;">▎레시피 제공 및 없는 재료 기반 쇼핑 중개 사이트</p>
              <p>Re-surfy는 레시피를 제공해주고 가진 재료를 기반으로 레시피를 검색할 수 있으며 사용자가 가지고 있지 않은 재료가 레시피에 들어갈 경우 최저가를 기준으로 재료를 구매할 수 있는 쇼핑사이트를 중개해주는 웹사이트입니다.</p>
              <div>
                <a class="pbtn btn-outline-fill" href="/2017/05/26/amazon-increase-income-1.5-million-copy-3/">
                  see more
                  {% for seemore in site.data.settings.seemore %}
                    <i class="{{ seemore.icon }}" style="float: left; font-weight:900; margin-right:5px; margin-top:2px;"></i>
                  {% endfor %}
                </a>
              </div>
            </div>
            <p style="font-size:20px; font-family:'Poppins', sans-serif; font-weight: 900;margin-top:10px;text-align: left;">▎역할 <span style="font-size:20px; font-family:'Poppins', sans-serif; font-weight: 400; font-size:15px;">&nbsp;&nbsp;로그인 및 회원가입 구현 & 회원관리</span> </p>
            <p style="text-align: left; font-size:20px; font-family:'Belanosima', sans-serif; ">▎Tool</p>
            <div id="skill-div" style="height: 40%; width:90%; padding: 0 0 50px 0px;">
              <div class="skill" style="width:90px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/spring.png" style="width:80%;"></div>
                <div id="skill_p">Spring</div>
              </div>
              <div class="skill" style="width:80px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/java.png"></div>
                <div id="skill_p">Java</div>
              </div>
              <div class="skill" style="width:90px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/html.png"></div>
                <div id="skill_p">HTML</div>
              </div>
              <div class="skill" style="width:70px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/css.png"></div>
                <div id="skill_p">CSS</div>
              </div>
              <div class="skill" style="width:60px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/js.png"></div>
                <div id="skill_p">JS</div>
              </div>
              <div class="skill" style="width:120px;">
                <div style="width:30%;"><img id="skill_img" src="/assets/images/portfolio/oracle.png"></div>
                <div id="skill_p">OracleDB</div>
              </div>
              <div class="skill" style="width:100px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/docker.png"></div>
                <div id="skill_p">Docker</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- YEOJEONG -->
      <div class="project">
        <div class="prj-title">YEOJEONG</div>
        <div class="prj-date">21.11 - 21.12 <span>(4인 Team)</span></div>
        <div class="prj-div">
          <div class="prj-img">
            <img src="/assets/images/portfolio/yeojeong.png" style="width:80%; height:300px; ">
          </div>
          <div class="prj-summary">
            <div id="prj-summary-field" style="text-align: left;">
              <p style="font-size:20px; font-family:'Poppins', sans-serif; font-weight: 900;">▎여행 커뮤니티 모바일 애플리케이션</p>
              <p>YEOJEONG은 바쁜 생활 속 여행의 목적지를 보다 더 쉽게 정할 수 있도록 '여행'에 대한 주제 한정 커뮤니티 어플로 여행의 목적지 뿐만 아니라 여행지 부근 음식점, 숙소, 사용자들이 추천하는 여행지 등을 중심으로 이루어진 여행정리 어플입니다. </p>
              <a class="pbtn btn-outline-fill" href="#">
                see more
                {% for seemore in site.data.settings.seemore %}
                  <i class="{{ seemore.icon }}" style="float: left; font-weight:900; margin-right:5px; margin-top:2px;"></i>
                {% endfor %}
              </a>
            </div>
            <p style="font-size:20px; font-family:'Poppins', sans-serif; font-weight: 900;margin-top:10px;text-align: left;">▎역할 <span style="font-size:20px; font-family:'Poppins', sans-serif; font-weight: 400; font-size:15px;">&nbsp;&nbsp;마이페이지 & 게시글 페이지 구현</span> </p>
            <p style="text-align: left; font-size:20px; font-family:'Belanosima', sans-serif; ">▎Tool</p>
            <div id="skill-div" style="height: 40%; width:90%; padding: 0 0 50px 0px;">
              <div class="skill" style="width:150px;">
                <div style="width:20%;"><img id="skill_img" src="/assets/images/portfolio/android.png" style="width:70%;"></div>
                <div id="skill_p">Android Studio</div>
              </div>
              <div class="skill" style="width:80px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/kotlin.png"></div>
                <div id="skill_p">Kotlin</div>
              </div>
              <div class="skill" style="width:90px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/html.png"></div>
                <div id="skill_p">HTML</div>
              </div>
              <div class="skill" style="width:70px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/css.png"></div>
                <div id="skill_p">CSS</div>
              </div>
              <div class="skill" style="width:60px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/js.png"></div>
                <div id="skill_p">JS</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- HALU -->
      <div class="project">
        <div class="prj-title">HALU</div>
        <div class="prj-date">21.05 - 23.06 <span>(4인 Team)</span></div>
        <div class="prj-div">
          <div class="prj-img">
            <img src="/assets/images/portfolio/HALU.png" style="width:80%; height:300px; ">
          </div>
          <div class="prj-summary">
            <div id="prj-summary-field" style="text-align: left;">
              <p style="font-size:20px; font-family:'Poppins', sans-serif; font-weight: 900;">▎GPS를 이용한 나만의 일상 Log</p>
              <p>HALU는 코로나로 인해 일상이 지루하게 느껴지는 요즘 기록을 통한 발자취를 돌아보며 지루한 일상을 의미있는 시간으로 바꿀 수 있도록 일상을 기록할 수 있는 일기장 어플입니다.</p>
              <a class="pbtn btn-outline-fill" href="#">
                see more
                {% for seemore in site.data.settings.seemore %}
                  <i class="{{ seemore.icon }}" style="float: left; font-weight:900; margin-right:5px; margin-top:2px;"></i>
                {% endfor %}
              </a>
            </div>
            <p style="font-size:20px; font-family:'Poppins', sans-serif; font-weight: 900;margin-top:10px;text-align: left;">▎역할 <span style="font-size:20px; font-family:'Poppins', sans-serif; font-weight: 400; font-size:15px;">&nbsp;&nbsp;로그인 및 회원가입 구현 & 일기장 기능 및 구글맵 기능 구현</span> </p>
            <p style="text-align: left; font-size:20px; font-family:'Belanosima', sans-serif; ">▎Tool</p>
            <div id="skill-div" style="height: 40%; width:90%; padding: 0 0 50px 0px;">
              <div class="skill" style="width:150px;">
                <div style="width:20%;"><img id="skill_img" src="/assets/images/portfolio/android.png" style="width:70%;"></div>
                <div id="skill_p">Android Studio</div>
              </div>
              <div class="skill" style="width:80px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/java.png"></div>
                <div id="skill_p">Java</div>
              </div>
              <div class="skill" style="width:90px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/html.png"></div>
                <div id="skill_p">HTML</div>
              </div>
              <div class="skill" style="width:70px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/css.png"></div>
                <div id="skill_p">CSS</div>
              </div>
              <div class="skill" style="width:60px;">
                <div style="width:40%;"><img id="skill_img" src="/assets/images/portfolio/js.png"></div>
                <div id="skill_p">JS</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>