.page-title-alt{
  padding: 200px 0 90px;
}

.border-thick{
  border: 10px solid;
}

.drag-lg-top{
  margin-top: -230px;
  @include desktop {
    margin-top: 0;
  }
}

.page-title-alt{
  .container{
    position: relative;
    z-index: 1;
  }
  .bg-shape-1{
    position: absolute;
    left: 0;
    top: 0;
  }
  .bg-shape-2{
    position: absolute;
    left: 70px;
    top: 100px;
  }
  .bg-shape-3{
    position: absolute;
    left: 30%;
    top: 90px;
    transform: rotate(180deg);
  }

  .bg-shape-4{
    position: absolute;
    left: 100px;
    bottom: 100px;
  }

  .bg-shape-5{
    position: absolute;
    left: 40%;
    bottom: -25px;
  }

  .bg-shape-6{
    position: absolute;
    bottom: 100px;
    right: -100px;
  }
}

@media (min-width: 992px){
  .about-contain{
    margin-left: 350px;

  }
}

.about-me{
  font-weight: 800; 
  font-size: 40px; margin-top:50px; 
  font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
  margin-left:10px;
  margin-bottom:20px;
}

.about-sotitle{
  color: #523fcd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 13px;
  margin-top: 10px;
}


.about-icon{
  list-style-type: none;
  margin-bottom: -10px;
}
