.git_prj{
    width:500px;
    height:300px;
    padding:3rem;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 0 rgba(68,68,68,.2);
    text-align: center;
  }