.git_prj{
    width:600px;
    height:300px;
    padding:3rem;
    margin: 60px 0 0 80px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 0 rgba(68,68,68,.2);

    h4 {
        font-weigh : border;
    }
  }



#git_div{

    height:180px;
    width:150px;
 
    #git_img {
        height:200px;
        width:150px;
    }
}

