.hero-area {
  height: 750px;
  padding: 150px 0 0px;
  position: relative;
  @include tablet {
    padding: 150px 0px 0px;
    overflow: hidden;
  }
  h1{
    position: relative;
    z-index: 2;
    margin-top : 60px;
    font-weight: bolder;
  }
  p {
    font-size : 30px;
  }
  
  .herofill{
    font-size : 18px;
  }
}


@media (max-width: 880px){
  .hero-div {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-area{
    height: 1200px;
  }
  .layer{
    display:none;
  }
  #gandb{
    display: flex;
    gap:30px;
  }
}


#gandb{
  margin-left : 17px; 
  margin-top : 5rem!important;
  width : 10%;
}

#gandb2{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

#info{
  flex-basis: 250px;
}

.about-btn{
  font-size: 20px;
  color:black;
  font-family: $primary-font;
  font-weight: 800;
  margin: 0px;
}

.layer {
  position: absolute;
  z-index: 1;
}

#l1 {
  bottom: 0;
  left: 0;
}

#l2 {
  top: 190px;
  left: -250px;
}

#l3 {
  top: 70px;
  left: 35%;
  
}

#l4 {
  top: 150px;
  right: 40%;
}

#l5 {
  top: -58px;
  right: -140px;
}

#l6 {
  bottom: 440px;
  left: 5%;
  transform: rotate(260deg);
}

#l7 {
  bottom: 100px;
  left: 10%;
}

#l8 {
  bottom: 80px;
  right: 35%;
}

#l9 {
  bottom: 180px;
  right: -10px;
}

#l10 {
  bottom: -60px;
  left: -10%;
  transform: rotate(130deg);
  z-index: -1;
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}