.hero-area {
  height: 900px;
  padding: 150px 0 0px;
  position: relative;
  @include tablet {
    padding: 150px 0px 0px;
    overflow: hidden;
  }
  h1{
    position: relative;
    z-index: 2;
    margin-left : 50px;
    margin-top : 60px;
    font-weight: bolder;
  }
  p {
    font-size : 30px;
  }
  
  .herofill{
    font-size : 18px;
  }
}

#gandb{
  margin-left : 17px; 
  margin-top : 5rem!important;
  width : 10%;
}

#gandb2{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

#info{
  flex-basis: 250px;
}

.layer {
  position: absolute;
  z-index: 1;
}

#l1 {
  bottom: 0;
  left: 0;
}

#l2 {
  top: 190px;
  left: -250px;
}

#l3 {
  top: 70px;
  left: 35%;
  
}

#l4 {
  top: 150px;
  right: 40%;
}

#l5 {
  top: -58px;
  right: -140px;
}

#l6 {
  bottom: 440px;
  left: 5%;
  transform: rotate(260deg);
}

#l7 {
  bottom: 100px;
  left: 10%;
}

#l8 {
  bottom: 290px;
  right: 45%;
}

#l9 {
  bottom: 230px;
  right: -10px;
}

#l10 {
  bottom: 30px;
  left: -1%;
  transform: rotate(110deg);
}


.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}