.page-title {
  padding: 250px 0 90px;

  .container {
    position: relative;
    z-index: 1;
  }

  .bg-shape-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .bg-shape-2 {
    position: absolute;
    left: -20px;
    top: -10px;
  }

  .bg-shape-3 {
    position: absolute;
    right: 30%;
    top: 200px;
    transform: rotate(0deg);
  }

  .bg-shape-4 {
    position: absolute;
    left: 50%;
    top: -20px;
  }

  .bg-shape-5 {
    position: absolute;
    left: -30px;
    bottom: 0px;
    transform: rotate(220deg);
  }

  .bg-shape-6 {
    position: absolute;
    right: 38%;
    bottom: -5px;
    transform: rotate(0deg);
  }

  .bg-shape-7 {
    position: absolute;
    right: -290px;
    bottom: -80px;
    transform: rotate(180deg);
  }
}

.filter-controls {
  li {
    cursor: pointer;

    &.active {
      font-weight: bold;
    }
  }
}

@media (max-width: 990px){
  .bg-shape-3,
  .bg-shape-2{
    display: none;
  }
  .page-title{
    .bg-shape-5 {
      position: absolute;
      bottom: 110px;
    }
    .bg-shape-4{
      left:25%;
      top: 370px;
      transform: rotate(-110deg);
    }
  }
}
