<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center about-blurb">
        <p class="font-secondary paragraph-lg text-dark" style="font-size:15px; margin-top:90px;">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn" style="color: #523fcd; font-family:Poppins,sans-serif;">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->