{% if site.data.settings.education %}
<!-- education -->
<section class="section position-relative">
  <div class="container">
    <div class="edu">
      <div class="col-lg-12 text-center">
        <h2 class="edu-title">{{ site.data.settings.education-title }}</h2>
      </div>
      <div class="edu_div">
        <div id="edu_div1">
          {% for education in site.data.settings.education %}
          <div style="margin-right:30px;">
            <div style="width:400px;">
              <div id="edu_p">
                <p class="text-dark mb-1">{{ education.date }}</p>
                <h4>{{ education.name }}</h4>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div id="edu_div2">
          {% for education in site.data.settings.education %}
          <div style="margin-left: 30px;">
            <div style="width:400px;">
              <div style="border-bottom:1px solid #bfbfc2; height:180px; margin-top:50px;">
                <p class="mb-0 edu-org">{{ education.organization }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /education -->
{% endif %}