<section class="section">
    <div class="section" style="padding:10px 0px 0px;">
        <div style="display: flex;">
            <div class="git_prj" style="padding-left: 60px;">
                <h4 style="text-align: center;"> github</h4>
                <div style="display: flex; gap:50px;">
                    <div id="git_div">
                        <img id="git_img" src=".././assets/images/portfolio/github.png" />
                    </div>
                    <div style="padding-top: 40px;">
                        <li> 프로젝트 코드 업로드 </li>
                        <br/>
                        <li> 코딩테스트 풀이 업로드 - python</li>
                        <br/>
                        <li> 웹 포트폴리오 업로드 </li>
                    </div>
                </div>
            </div>
            <div class="git_prj">
                <h4 style="text-align: center;">Tistory</h4>
            </div>
        </div>
    </div>
</section>