<!-- hero area -->
<section class="hero-area" id="parallax">
  <div class="container" style="margin-top: 140px;">
    <div class="row">
      <div class="col-lg-11" style="display: inline-flex; bottom:90px">
        <!-- social icon -->
        <ul id="gandb" class="list-unstyled position-relative zindex-1">
          {% for social in site.data.settings.social %}
          <li style="margin-top: 5px; margin-bottom:30px;"><a class="text-dark" href="{{ social.link }}"><i class="{{ social.icon }}" style="font-size: x-large; "></i></a></li>
          {% endfor %}
        </ul>
        <!-- /social icon -->
        <h1 class="font-tertiary" style="font-size: 60px;">{{ site.data.settings.hero.hero-title }}<p class="font-tertiary">{{ site.data.settings.hero.hero-content }}</p><p class="herofill">{{ site.data.settings.hero.hero-fill }}</p></h1>
        <div style="width: 0px;">
          <img src="/assets/images/SJ.png" style="margin-left: 50px; margin-bottom:40px;">
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg.png" alt="bg-shape">
  </div> -->
  <div class="layer" id="l2">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan.png" alt="bg-shape">
  </div>
  <!-- <div class="layer" id="l4">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-orange.png" alt="bg-shape">
  </div> -->
  <div class="layer" id="l5">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="bg-shape">
  </div>
  <div class="layer" id="l6">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l10">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-lg.png" alt="bg-shape">
  </div>
  <!-- <div class="layer" id="l7">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-orange.png" alt="bg-shape">
  </div> -->
  <div class="layer" id="l8">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="bg-shape">
  </div>
  <div class="layer" id="l9">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-2.png" alt="bg-shape">
  </div>
</section>
<!-- /hero area -->