/* Button style */
.btn {
  font-size: 22px;
  font-family: $secondary-font;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:focus {
    outline: 0;
    box-shadow: none !important;
  }

  &:active {
    box-shadow: none;
  }

  &-sm {
    font-size: 15px;
    padding: 10px 30px;
  }

  &-xs {
    padding: 5px 10px;
    font-size: 15px;
  }
}

.btn-primary {
  background: $primary-color;
  color: $white;

  &:active {
    background: lighten($color: $primary-color, $amount: 10) !important;
  }

  &:hover {
    background: lighten($color: $primary-color, $amount: 10);
  }

  &.focus,
  &.active {
    background: lighten($color: $primary-color, $amount: 10) !important;
    box-shadow: none !important;
  }
}


.btn-transparent {
  background: transparent;
  color: $primary-color;
  font-weight: bold;

  &:active,
  &:hover {
    color: $primary-color;
  }
}

$text-color: #fff;
$accent-color: #5c5584;
$hover-color: #452eb7;
$offset: .125em;
$border-width: .125em;
$transition: .2s ease-out;

.pbtn{
  margin-left: 75%;
  height: 30px;
  width: 110px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 5px 0 5px 8px;
  border-radius: 2px;
&:active {
    transform: translate($offset, $offset);
    &:after {
        transform: translate(-$offset, -$offset);
    }
}
}

.btn-outline-fill {
  color: $accent-color;
  font-weight: bolder;
  box-shadow: inset 0 0 0 $border-width $accent-color;
  background-color: transparent;
  transition: color $transition, box-shadow $transition, background-color $transition;
  border-radius: 2px;
  &:after {
      border-color: $accent-color;
  }
  &:hover {
      color: $text-color;
      background-color: $hover-color;
      box-shadow: inset 0 0 0 $border-width transparent;
      &:after {
          border-color: $hover-color;
      }
  }
}