---
layout: default
---
<!-- about -->
<section class="about-section">
  <div class="container about-contain">
    <div class="col-12">
      <h1 class="about-me">{{ page.title }}</h1>
    </div>
    <div class="row card-row">
      <div class="card">
          <div class="card-front about-contact" style="display: flex;">
            <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.author }}" class="img-fluid about-img" style="margin-left: 25px; margin-top:30px; height: 280px; width:280px;">
            <div class="about-so-contact">
              <div style="margin-left: 30px;">
                <h4 class="about-sotitle" style="margin-top:30px;"><b>Contact</b></h4>
                  {% for contact in site.data.settings.contact %}
                  <li class="about-icon" ><i class="{{ contact.icon }}" style="float: left; margin-top: 7px;"></i><p style="margin-left: 25px;">{{ contact.content }}</p></li>
                  {% endfor %}
                </p>
              </div>
              <div style="margin-left: 30px;">
                <h4 class="about-sotitle" style="margin-top: 30px;"><b>Channer</b></h4>
                <p>
                  {% for social in site.data.settings.social %}
                  <li class="about-icon" ><a class="text-dark" href="{{ social.link }}" style="display: block; width: 250px;">
                    <i class="{{ social.icon }}" style="float: left; margin-top: 7px;"></i><p style="margin-left: 25px;">{{ social.content }}</p></a></li>
                  {% endfor %}
                </p>
              </div>
            </div>
            <div style="margin-left: 90px; margin-top:20px; font-size:20px; color: #523fcd; cursor:pointer; font-weight:600; width:110px;">
              {% for card-front in site.data.settings.card-front %}
                    <i class="{{ card-front.icon }}" style="float: left; transform: rotateY(180deg);"></i><p style="color: #523fcd;">{{ card-front.content }}</p>
              {% endfor %}
              
            </div>
          </div>
        <div class="card-back" style="text-align: center;">
            <h4 class="about-sotitle" style="font-size: 30px; margin-top:20px;"><b>Introduce</b></h4>
            <p style="margin-top:20px;">{{content}}</p>
        </div>
    </div>
    </div>
  </div>
</section>
<!-- /about -->

{% include skills-section.html %}

{% include education-section.html %}
  
<!-- <section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">My Clients</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section> -->