---
layout: default
---

<!-- page title -->
<section class="page-title position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="font-tertiary" style="font-weight: bolder;color:#000">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan.png" alt="illustrations" class="bg-shape-3">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-5">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink.png" alt="illustrations" class="bg-shape-7">

</section>
<!-- /page title -->

{{ content }}